<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>StoreRegisterForm</title>
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }
    </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });
    </script>
</th:block>
<body>
    <div layout:fragment="content">
        <form action="/stores/new" role="form" method="post" th:object="${storeRegisterFormDto}">
            <div class="form-group">
                <label th:for="storeId">아이디</label>
                <input type="text" th:field="*{storeId}" class="form-control" placeholder="아이디를 입력하세요">
                <p th:if="${#fields.hasErrors('storeId')}" th:errors="*{storeId}" class="fieldError">Incorrect Data</p>
            </div>
            <div class="form-group">
                <label th:for="storePwd">비밀번호</label>
                <input type="password" th:field="*{storePwd}" class="form-control" placeholder="비밀번호를 입력하세요">
                <p th:if="${#fields.hasErrors('storePwd')}" th:errors="*{storePwd}" class="fieldError">Incorrect Data</p>
            </div>
            <div class="form-group">
                <label th:for="storeName">상호명</label>
                <input type="text" th:field="*{storeName}" class="form-control" placeholder="상호명을 입력하세요">
                <p th:if="${#fields.hasErrors('storeName')}" th:errors="*{storeName}" class="fieldError">Incorrect Data</p>
            </div>
            <div class="form-group">
                <label th:for="storeCorporateNum">사업자 번호</label>
                <input type="text" th:field="*{storeCorporateNum}" class="form-control" placeholder="사업자 번호를 입력하세요">
                <p th:if="${#fields.hasErrors('storeCorporateNum')}" th:errors="*{storeCorporateNum}" class="fieldError">Incorrect Data</p>
            </div>
            <div class="form-group">
                <label th:for="storeEmail">이메일</label>
                <input type="email" th:field="*{storeEmail}" class="form-control" placeholder="이메일을 입력하세요">
                <p th:if="${#fields.hasErrors('storeEmail')}" th:errors="*{storeEmail}" class="fieldError">Incorrect Data</p>
            </div>
            <div class="form-group">
                <label th:for="storeZipCode">우편번호</label>
                <input type="text" th:field="*{storeZipCode}" class="form-control" placeholder="우편번호를 입력하세요">
                <p th:if="${#fields.hasErrors('storeZipCode')}" th:errors="*{storeZipCode}" class="fieldError">Incorrect Data</p>
            </div>
            <div class="form-group">
                <label th:for="storeAddress">상세 주소</label>
                <input type="text" th:field="*{storeAddress}" class="form-control" placeholder="상세 주소를 입력하세요">
                <p th:if="${#fields.hasErrors('storeAddress')}" th:errors="*{storeAddress}" class="fieldError">Incorrect Data</p>
            </div>
            <div class="form-group">
                <label th:for="storeId">전화 번호</label>
                <input type="text" th:field="*{storePhone}" class="form-control" placeholder="전화 번호를 입력하세요">
                <p th:if="${#fields.hasErrors('storePhone')}" th:errors="*{storePhone}" class="fieldError">Incorrect Data</p>
            </div>
            <div style="text-align: center">
                <button type="submit" class="btn btn-primary" style="">SUBMIT</button>
            </div>

        </form>
    </div>
</body>
</html>